GobangGame/Client/Service References/GobangServiceReference/GobangService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="WcfGobangGameExample" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GobangService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IGobangService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="WcfGobangGameExample" location="http://localhost:50354/GobangService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSDualHttpBinding_IGobangService" type="i0:IGobangService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IGobangService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SitDown">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/SitDown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetUp">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/GetUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetDot">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/SetDot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetDot_1">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/SetDot_1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Talk">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/Talk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ShowLogin">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/ShowLogin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowLogout">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/ShowLogout" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowSitDown">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/ShowSitDown" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowGetUp">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/ShowGetUp" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowStart">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/ShowStart" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowTalk">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/ShowTalk" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowSetDot">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/ShowSetDot" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowSetDot_1">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/ShowSetDot_1" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameStart">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/GameStart" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameWin">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/GameWin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTablesInfo">
      <soap12:operation soapAction="WcfGobangGameExample/IGobangService/UpdateTablesInfo" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GobangService">
    <wsdl:port name="WSDualHttpBinding_IGobangService" binding="tns:WSDualHttpBinding_IGobangService">
      <soap12:address location="http://localhost:50354/GobangService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:50354/GobangService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>